html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#indexBKG {
    height: 400px;
    background-image: url('../css/uni.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
